//
// Form search
// --------------------------------------------------

.form-search {
    position: relative;

    .form-control {
        width: 100%;
    }

    .form-submit {
        position: absolute;
        left: -9999px;
        width: 1px;
        height: 1px;
    }
}
